@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");

:root {
  --primary-color: #1B98E0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Amatic SC";
}

body {
  font-family: var(--primary-font);
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

a,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Changed to center */
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--text-light);
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
  }
  
  .logo img {
    max-width: 80px;
    height: auto;
    margin-bottom: 0;
  }
  
  .site-header h1 {
    font-family: var(--secondary-font);
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }

  .search-form {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 1rem auto; /* Added top margin */
    border: 1px solid #ccc;
    border-radius: 0;
    overflow: hidden;
  }

#search-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
}

.search-form button {
  background-color: #ddd;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.recipe {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 86%;
  margin: 2rem auto;
  gap: 20px;
}

.recipe img {
  width: 40%;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.recipe-content h2 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--name-blue);
  margin: 0 0 1rem 0;
  text-align: left;
}

.recipe-content .rating {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  order: 1;
}

.recipe-content .description {
  font-size: 1.1rem;
  color: var(--text-dark);
  text-align: left;
  line-height: 1.5;
  order: 2;
  max-width: 80%;
  font-weight: bold;
}

.recipe-content button {
  order: -2;
  margin-bottom: 1rem;
  border-radius: 0;
  padding: 0.5em;
  white-space: nowrap;
  align-self: flex-start;
}

.recipe-content .meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipe-content .prep-time,
.recipe-content .cook-time {
  display: none;
}

.site-footer {
  display: fixed;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  height: 140px;
}

.social {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.social img {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.site-footer p {
  font-size: 0.6em;
  margin: 0;
  color: var(--secondary-color);
}